<!-- this page shows users name along witht the devices they have liked-->
<P>{{message}}</P>
<section class="addPadding">
	<h1>{{title}}</h1>
	<hr>
<<<<<<< HEAD
	<h2>{{username}}</h2>
=======
	<h2>{{user}}</h2>
>>>>>>> 3b6eae44fc80c93c8006d151f7f3b158e6379989
	<hr>
	<h3> My devices! </h3>
	{{#each devices}}
		<h4>{{this}}</h4> 
	{{else}}
		<h4> No devices </h4>
	{{/each}}
</section>