<div class="container">
	<div class="row">
        <h1> Mobile Phones</h1>
            <table class="table table-bordered success">
                <thead>
                    <tr>
                        <th>Image</th>
                        <td><img src="{{brand.image}}" alt="{{brand.device}}"></td>
                    </tr>
                    <tr>
                        <th>Device</th>
                        <td>{{brand.device}}</td>
                    </tr>
                    <tr>
                        <th class="info">Technology</th>
                        <td>{{brand.Technology}}</td>
                    </tr>
                    <tr>
                        <th class="info">Speed</th>
                        <td>{{brand.Speed}}</td>
                    </tr>
                    <tr>
                        <th class="info">Announced</th>
                        <td>{{brand.Announced}}</td>
                    </tr>
                    <tr>
                        <th class="info">Weight:</th>
                        <td>{{brand.Weight}}</td>
                    </tr>
                    <tr>
                        <th class="info">OS</th>
                        <td>{{brand.OS}}</td>
                    </tr>
                    <tr>
                        <th class="info">Processor</th>
                        <td>{{brand.Chipset}}</td>
                    </tr>
                    <tr>
                        <th class="info" valign="top">Memory</th>
                        <td>{{brand.Internal}}</td>
                    </tr>
                    <tr>
                        <th class="info">Display Size</th>
                        <td>{{brand.Size}}</td>
                    </tr>
                    <tr>
                        <th class="info">Display Type</th>
                        <td>{{brand.Type}}</td>
                    </tr>
                </thead>
            </table>
        <br>
        <h6 style="margin-left: 100%;"><a href="/">Back</a></h6>
	</div>
</div>